html, body{
	background-color: whitesmoke;
	height: 100%;
}
#search{
	width: 70%;
}
form{
	text-align: center;
}

footer{
	height: 10%;
	background-color:white;
	border-top: #DFDFDF 1px  solid;
}

#conteneur{
	display: flex;
	height: 90%;

}

#menu{
	display: flex;
	flex-direction: column;
	align-content: stretch;
	height: 90%;
	width: 30%;
}